.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  background-color: white;
  max-width: 430px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__close-button {
  position: absolute;
  top: -50px;
  right: -40px;
  background-image: url(/public/images/close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 24px;
  max-width: 315px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit-button {
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 20px;
  width: 358px;
  height: 64px;
  color: #b6bcbf;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  border-radius: 50px;
  background-color: #e6e8eb;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__submit-button:hover {
  opacity: 0.6;
}

.modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.modal__submit-button-additional-center {
  color: #000;
  border: none;
  background-color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 90px;
  margin: 0 auto;
  padding: 0;
  /* transition: color 0.5s ease-in-out; */
}

.modal__submit-button-additional-center:hover {
  cursor: pointer;
}

.button__text-blue {
  color: #2f71e5;
  padding-left: 4px;
}

.modal__label {
  display: block;
  flex-direction: column;
  color: #2f71e5;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
}

.modal__input {
  color: rgba(0, 0, 0, 0.2);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 8px;
  padding: 0 0 4px;
  display: block;
}
