.saved-header {
  padding: 0 60px;
  height: 250px;
}

.saved-header__title {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 15px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #1a1b2280;
  opacity: 50%;
}

.saved-header__text {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  max-height: 90px;
  max-width: 530px;
  margin: 0;
  padding-bottom: 33px;
}

.keywords {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
}
