.about {
  display: flex;
  gap: 50px;
  height: 624px;
  padding: 0 60px;
  align-items: center;
  justify-content: center;
}

.about__image {
  border-radius: 100%;
  width: 464px;
  height: 464px;
}

.about__text {
  max-width: 530px;
  color: #1a1b22;
  line-height: 24px;
  margin-top: -100px;
}

.about__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 30px 0;
}

.about__paragraph {
  font-family: Roboto;
  font-weight: 400;
}
